{% extends 'base.html.twig' %}
{% block body %}
	<div class="container col-6">
		{{ form_start(formRp) }}
		<fieldset>
			<div class="form-group">
				<label for="nomComplet" class="form-label mt-4">Nom Complet</label>
				{{ form_widget(formRp.nomComplet, { 'attr': { 'class': 'form-control', placeholder: "Votre nom complet"} } )}}
				<small id="namelHelp" class="form-text text-muted"></small>
			</div>
			<div class="form-group">
				<label for="nomComplet" class="form-label mt-4">Login</label>
				{{  form_widget(formRp.email, { 'attr': { 'class': 'form-control', placeholder: "email"} } )}}
				<small id="namelHelp" class="form-text text-muted"></small>
			</div>
			<div class="form-group">
				<label for="nomComplet" class="form-label mt-4">Password</label>
				{{  form_widget(formRp.password, { 'attr': { 'class': 'form-control' , placeholder: "Password"} } )}}
				<small id="namelHelp" class="form-text text-muted"></small>
			</div>
			{{  form_widget(formRp.Enregistrer, { 'attr': { 'class': 'btn btn-primary'} } )}}
		</fieldset>
		{{ form_end(formRp) }}
	</div>
{% endblock %}
