{% extends 'base.html.twig' %}

{% block title %}Hello EtudiantController!
{% endblock %}

{% block body %}
	<style></style>

	<div class="example-wrapper">
		<table class="table table-hover">
			<thead>
				<tr class='text-center'>
					<th scope="col">Nom Complet</th>
					<th scope="col">Adresse</th>
					<th scope="col">Sexe</th>
					<th scope="col">Matricule</th>
					<th scope="col">Options</th>
				</tr>
			</thead>
			<tbody>
				{% for et in etudiant %}
					<tr class='text-center'>
						<td>{{ et.nomComplet}}</td>
						<td>{{ et.adresse}}</td>
						<td>{{ et.sexe}}</td>
						<td>{{ et.matricule}}</td>
						<td class="text-center">
							<a href="">Archiver</a>
							<a href="">Modifier</a>
							<a href="">Detail</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>

	<div class='container pagination'>
		<span class=''>
			{{ knp_pagination_render(etudiant) }}
		</span>
	</div>
{% endblock %}
